Backend/.vs/*
Backend/BuildingBlocks/Application/bin/*
Backend/BuildingBlocks/Application/obj/*
Backend/BuildingBlocks/Domian/bin/*
Backend/BuildingBlocks/Domian/obj/*
Backend/BuildingBlocks/EventBuss.Helper/obj/*
Backend/BuildingBlocks/EventBuss.RabbitMQ/obj/*
Backend/BuildingBlocks/EventBuss/bin/*
Backend/BuildingBlocks/EventBuss/obj/*
Backend/BuildingBlocks/Infrastructure.EFCore/bin/*
Backend/BuildingBlocks/Infrastructure.EFCore/obj/*
Backend/BuildingBlocks/Infrastructure/bin/*
Backend/BuildingBlocks/Infrastructure/obj/*
Backend/BuildingBlocks/SharedKernel/bin/*
Backend/BuildingBlocks/SharedKernel/obj/*
Backend/Services/Storage/Storage.Shared/bin/*
Backend/Services/Storage/Storage.Shared/obj/*
Backend/Services/VideoManager/VideoManager.API/bin/*
Backend/Services/VideoManager/VideoManager.API/obj/*
Backend/Services/VideoManager/VideoManager.Domain/bin/*
Backend/Services/VideoManager/VideoManager.Domain/obj/*
Backend/Services/VideoManager/VideoManager.Infrastructure/bin/*
Backend/Services/VideoManager/VideoManager.Infrastructure/obj/*
Backend/Services/VideoManager/VideoManager.SignalRHub/bin/*
Backend/Services/VideoManager/VideoManager.SignalRHub/obj/*